.nameofcompany {
  color: blueviolet;
}
.Login_btn {
  color: #10b7bd;
}
.Login_btn a:link {
  color: cadetblue;
  text-decoration: none;
}
.Login_btn a:visited {
  color: cadetblue;
  text-decoration: none;
}
h5 {
  font-family: "Big Shoulders Stencil Display", cursive;
}
