.nameofcompany {
  color: blueviolet;
  background-size: 130px;
}
.Login_btn {
  color: #1aa2a7;
}
.Login_btn a:link {
  color: cadetblue;
  text-decoration: none;
}
.Login_btn a:visited {
  color: cadetblue;
  text-decoration: none;
}
h1 {
  font-family: "Big Shoulders Stencil Display", cursive;
}
